<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome to kodify blog!{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    {% stylesheets
    output='css/*.css' filter='cssrewrite'
    'bundles/kodifyblog/css/clean-blog.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/05c8166897.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
    <div id="react-container">
        {% spaceless %}
            {% block body %}
                {{ react_component('blogApp', {'props': props}) }}
            {% endblock %}
        {% endspaceless %}
    </div>
{% block footer_scripts %}
    {% if app.environment == "dev" %}
    <script src="{{ asset('webpack-dev-server.js', 'webpack') }}"></script>
    {% endif %}
    <script src="{{ asset('assets/build/client-bundle.js', 'webpack') }}"></script>
{% endblock %}
</body>
</html>












