{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
    <form role="form" action="{{ path('create_post') }}" method="post" {{ form_enctype(form) }} novalidate>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}