{% extends 'KodifyBlogBundle::base.html.twig' %}
{% block title %}Kodify Blog::Author List{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% if posts is empty %}
                There are no posts, let's create some!!
            {% else %}
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{{ path('view_post',{id: post.id}) }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">{{ post.content }}</h3>
                        </a>
                        <p class="post-meta">Posted by {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</p>
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
