{% extends 'KodifyBlogBundle::base.html.twig' %}
{% block title %}Kodify Blog::{{ post.title }}{% endblock %}
{% block header %}
    <header class="intro-header" style="background-image: url({{ asset('bundles/kodifyblog/img/post-bg.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <span class="meta">Posted by {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ post.content }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% include 'KodifyBlogBundle:Comment:view.html.twig' with {'post': post, 'formComment': formComment } %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
