{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}

    {% for post in posts %}
        {# Use col-xs-6 to show post in two columns on any devices,
        I create a div to surround the existing one because col-xs-6 has padding left and right that make the post box looks weird
        and whitout separation between the two columns #}
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="post-title">
                        <a href="{{ path('view_post',{id: post.id}) }}">{{ post.title }}</a>
                    </div>
                    <div class="post-author">
                        <span class="pull-right">by: {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="post-content-preview">
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}