{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}

    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{ path('view_post',{id: post.id}) }}">{{ post.title }}</a>
                <span class="pull-right">by: {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
            </div>
            <div class="panel-body">
                {{ post.content }}
            </div>
        </div>
    {% endfor %}

{% endblock %}